<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   
    <section name="queueSection" type="APITaskManagement.Logic.Config.QueueConfigSection, APITaskManagement.Logic" />
    <section name="schedulerSection" type="APITaskManagement.Service.Config.SchedulerConfig, APITaskManagement.Service" />
  </configSections>
  <appSettings>
    <add key="MonitorInterval" value="30" />
    <add key="MailUsername" value="raymond.soffner@ziggo.nl" />
    <add key="MailPassword" value="d1hwwvRS2018!" />
    <add key="MailTo" value="support@profilan.nl" />
    <add key="MailFrom" value="raymond.soffner@ziggo.nl" />
    <add key="MailPort" value="587" />
    <add key="MailUseDefaultCredentials" value="false" />
    <add key="MailEnableSsl" value="true" />
    <add key="MailHost" value="smtp.ziggo.nl" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="X.PagedList" publicKeyToken="00b6c4f97602e5e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4.0" newVersion="7.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <queueSection>
    <queue name="ZwaluwSalesOrders" type="QueueZwaluwSalesorder">
      <properties>
        <property name="connection_string_name" value="default" />
        <property name="splogger" value="EEK_sp_APIQUEUE" />
      </properties>
    </queue>
    <queue name="DutchNedSalesOrders" type="QueueDutchNedSalesorder">
      <properties>
        <property name="connection_string_name" value="default" />
        <property name="splogger" value="EEK_sp_APIQUEUE" />
      </properties>
    </queue>
    <queue name="ZwaluwCrossdocks" type="QueueZwaluwCrossdock">
      <properties>
        <property name="connection_string_name" value="default" />
        <property name="splogger" value="EEK_sp_APIQUEUE" />
      </properties>
    </queue>
    <queue name="HelloDialogEmails" type="QueueHelloDialogEmail">
      <properties>
        <property name="connection_string_name" value="default" />
        <property name="splogger" value="EEK_sp_APIQUEUE_NEW" />
      </properties>
    </queue>
  </queueSection>
  <schedulerSection>
    <signalr hubConnectionUrl="http://localhost:8080/" />

  </schedulerSection>
  <connectionStrings>
    <add name="default" connectionString="data source=SRV-EEK-ZWD-05;initial catalog=MAATWERK;persist security info=True;user id=SAAPI;password=SA32api" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>