<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MailUsername" value="" />
    <add key="MailPassword" value="" />
    <add key="MailTo" value="ict@deeekhoorn.com" />
    <add key="MailFrom" value="APITaskManager@deeekhoorn.com" />
    <add key="MailPort" value="25" />
    <add key="MailUseDefaultCredentials" value="false" />
    <add key="MailEnableSsl" value="false" />
    <add key="MailHost" value="ex-eek-zwd-02.zwd.deeekhoorn.com" />
    <add key="PulsewayEndpoint" value="https://pulseway.deeekhoorn.com/api/v2/notifications" />
    <add key="PulsewayUsername" value="administrator" />
    <add key="PulsewayPassword" value="vPOorXoqQt" />
    <add key="PulsewayInstanceId" value="518d3502-80e0-4b62-ae0f-93385636ceee" />
    <add key="AvailabilityWebserver0" value="IS-EEK-ZWD-01" />
    <add key="AvailabilityWebserver1" value="IS-EEK-ZWD-02" />
    <add key="AvailabilityWebserver2" value="IS-EEK-ZWD-05" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="X.PagedList" publicKeyToken="00b6c4f97602e5e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4.0" newVersion="7.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>