@model APITaskManagement.Web.Models.TaskViewModel


@foreach (var share in Model.Shares)
{
    var selected = "";
    if (Model.SelectedShares.Contains(share))
    {
        selected = "checked";
    }
    <div class="checkbox">
        <label>
            <input type="checkbox" id="SelectedShares" name="SelectedShares" value="@share.Id" @selected>
            @share.Name
        </label>
    </div>
}

